<!doctype html>
<html lang="en">
<head>
    <!-- Character encoding and viewport settings -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>movie Info</title>
    <!-- Linking to Bootstrap CSS stylesheet from a CDN -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" rel="stylesheet">
</head>
<body>
<!-- Navigation bar using Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <!-- Logo image -->
        <img src="/images/logo.png" width="250px"/>
        <!-- Navigation bar toggle button for small screens -->
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navigation menu links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-white" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/interested_movies">Interested Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/watched_movies">Watched Movies</a>
                </li>
            </ul>

            <!-- Add new movie button -->
            <div>
                <a class="nav-link text-white" href="/add_movie">Add New Movie</a>
            </div>
        </div>
    </div>
</nav>

<!-- A full screen background image with a gradient overlay and text -->
<div class="bg-image position-relative"
     style="background-image: url('/images/city.jpeg'); width: 100%; height: 100vh;opacity: 0.9;
     background-size: cover;background-repeat: no-repeat;background-position: center center;">
    <div class="overlay position-absolute top-0 start-0 w-100 h-100"
         style="background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,4));"></div>
    <div class="position-absolute top-50 end-6 text-white text-center" style="right: 5%">
        <div>
            <h1 style="word-break: break-all;"><strong>Welcome to our <br> Movie Management System</strong></h1>
            <h5 ><strong>Group Project for INFO5100</strong></h5>
        </div>
    </div>
</div>
<!-- Importing necessary Bootstrap and Popper.js libraries -->
<script crossorigin="anonymous"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>

</body>
</html>